.custom-navbar {
    transition: background-color 0.3s ease;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    transition: color 0.3s ease, background-color 0.3s ease;
}

.custom-navbar .navbar-brand:hover,
.custom-navbar .nav-link:hover {
    color: #FFD700 !important; /* Cambia a dorado al pasar el ratón */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente al pasar el ratón */
    border-radius: 4px; /* Bordes redondeados */
}

.custom-navbar .nav-link {
    margin-right: 15px;
}

.custom-navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 992px) {
    .custom-navbar .nav-link {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
